*{
    padding: 0;
    margin: 0;
}

.head img{
    width: 100%;
    min-height: auto;
}

.container-head{
    position: relative;
    top: -3px;
    width: 100%;
    min-height: 100px;
    background: white;
}

.logo{
    position: absolute;
    width: auto;
    height: auto;
    top: 20px;
    right: 38px;
}

.search{
    position: absolute;
    width: 600px;
    height: 40px;
    background-color: #F0F0F1;
    top: 23px;
    right: 182px;
    border: 0;
    border-radius: 10px;
}

.int-search{
    position: absolute;
    width: 600px;
    height: 40px;
    background-color: #F0F0F1;
    border: 0;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

.search img{
    position: absolute;
    background: transparent;
    top: 8px;
    right: 5px;
    width: 24px;
}

.log-sign{
    position: absolute;
    width: 135px;
    height: 44px;
    background: #f0f0f1;
    border: 0;
    border-radius: 10px;
    top: 22px;
    left: 91px;
}

.log-sign a{
    font-size: 15px;
    text-align: center;
    position: absolute;
    display: block;
    text-decoration: none;
    color: black;
    top: 11px;
    left: 32px;
    font-weight: 900;
}

.log-sign img{
    top: 7px;
    position: relative;
    left: 4px;
}

.log-sign span img{
    top: 8px;
    position: relative;
    left: 76px;
}

.basket img{
    position: absolute;
    top: 26px;
    left: 26px;
    background: transparent;
    width: 36px;
}

.navbar{
    width: 100%;
    min-height: 40px;
    background: #F0F0F1;
    position: absolute;
    top: 146px;
}

.navbar li{
    position: absolute;
    list-style-type: none;
    right: 21px;
    top: 5px;
}

.navbar a{
    font-family: "B Traffic" , sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding-right: 15px;
    color: black;
    display: inline-block;
}

.navbar a:hover{
    color: red;
    transition: 0.3s linear;
}

.navbar a::after{
    content: '' ;
    background-color: red;
    width: 0;
    height: 3px;
    margin-top: 3px;
    display: block;
}

.navbar a:hover::after{
    width: 100%;
    transition: width 0.3s linear;
}

.item-container{
    width: 934px;
    min-height: 400px;
    background: red;
    position: absolute;
    top: 35px;
    right: 13px;
    border: 0;
    border-radius: 0 0 15px 15px;
    box-shadow: 3px 4px 3px 2px #a5a5a5;
}

.item-container-right{
    float: right;
    width: 174px;
    min-height: 400px;
    background-color: #F0F0F1;
    border: 0;
    border-radius: 0 0 15px 0;
}

.item-container-left{
    position: absolute;
    width: 760px;
    min-height: 400px;
    background-color: #f5f5f5;
    border: 0;
    border-radius: 0 0 0 15px;
}